*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    transition: 0.5s;
    transition-timing-function: ease-in;
    background-image: linear-gradient(to right bottom,#001242, #005E7C);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    width: 700px;
    background-color:#005E7C;
    margin: 10px;
}
/* .fa-quote-left, .fa-quote-right{
    font-size: 30px;
    color: rgb(179, 0, 0);;
} */
#quote{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}
#author{
    margin: 10px;
    text-align: right;
    font-size: 20px;
    font-style: italic;
    font-family: cursive;
}
hr{
    margin: 10px 0;
    width: 100px;
    border: 1px solid black;
    background-color: black;
}
.buttons{
    /* width: 100px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
#next{
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    padding: 12px;
    margin-top: 8px;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(to right bottom, #001242,#0094c6);
}
.buttons:hover{
    box-shadow: 0 10px 10px rgb(3, 15, 83);
}